@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@700&display=swap');

.bg-animated {
    background: linear-gradient(-45deg, #f3c23b, #e73c7e, #329bf1);
	background-size: 400% 400%;
	animation: bg-gradient-animation 15s ease infinite;
}

@keyframes bg-gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 3px;
}

.dark-shade-low {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    pointer-events: none;
}

/* Remove the default scrollbar styles */
::-webkit-scrollbar {
	width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
	background: #e4e4e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #88888880;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #888888;
} 